<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <nav th:replace="fragments/header :: navbar"></nav>

        <div class="container theme-showcase" role="main">
            <div class="page-header">
                <h1>Check CMDR</h1>
                <form method="get" action="/webcheck">
                    <div class="form-group">
                        <label for="cmdr" class="col-sm-2 control-label">CMDR</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="cmdr" id="cmdr" placeholder="Check CMDR Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="listPublic" class="col-sm-2 control-label">Check Public Lists</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="listPublic" name="public" checked="checked"/> - If ticked also search lists marked as "public"
                        </div>
                    </div>
                    <button class="btn" type="submit">Check</button>
                </form>

                <br/>
                <br/>
                <div th:if="${foundCmdr}">
                    <div th:class="${alertClass}">
                        <span th:text="${checkedCmdr}"></span> is <span th:text="${hostileState}"></span>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>